body{
  font-family: 'Montserrat-Black';
  text-align: center;
}
ul{
  margin-left: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p{
  color: #8f8f8f;
  font-family: "Ubuntu"
}
/* heading section */
.big-heading {
  font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
/* container section */
.container-fluid{
  padding: 7% 15% ;
}
/* title section */
#title {
  background-color: #ff4c68;
  text-align: left;
}
#title .container-fluid{
  padding: 3% 15% 7%;
}

/* navigation bar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}

/* download buttons */
.download-buttons {
  margin: 5% 3% 5% 0;
}
/* title-image */
.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features section */
#features {
  background-color: #fff;
  position: relative;
}

.feature-heading {
  line-height: 1.5;
}

.feature-box {
  padding: 4.5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
 }
 /* testimonials sections */
 #testimonials {
  background-color:  #ef8172;
   color: #fff;
 }

 .testimonial-text {
   font-size: 3rem;
   line-height: 1.5;
 }


 .testimonials-image {
   width: 10%;
   border-radius: 100%;
   margin: 20px;
 }

 #press {
   background-color:  #ef8172;
   padding-bottom: 3%;
 }
 .press-logo {
   width: 15%;
   margin: 20px 20px 50px;
 }
 /* pricing section */
 #pricing {
    padding: 100px;
 }
 .price-text {
   font-size: 3rem;
   line-height: 1.5;
 }

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
   #title {
     text-align: center;
   }

  .title-image {
    width: 50%;
    position: static;
    transform: rotate(0);
  }
   }

/* call to Action */
#cta {
  background-color: #ff4c68;
  color: #fff;
}

/* footer section */
#footer {
  background-color: #fff;
}

.anchor-tag {
  color: #444444;
  text-decoration: none;
   margin: 20px 20px 20px ;
}
.copy {
  font-family: "Montserrat-bold"
  font-size: 3.5rem;
  margin-top: 30px;
}
